:root{
  --primary-color: #ac5fd2;
  --primary-700-color: #af7dc8;
  --primary-500-color: #d4b6e4;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: sans-serif,Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  width: 1024px;
  margin: auto;

}


header{
  display: flex;
  justify-content: space-between;
  background-color: var(--primary-color);
  grid-area: header;
  box-shadow: 0 0.8rem 10px rgb(199, 198, 198);
}

.logo{
  padding: 1rem;
  width: 7rem;
}

header ul{
  display: flex;
}

.nav-link{
  list-style: none;
  display: inline;
  margin: 2rem;
}

.nav-link a{
  text-decoration: none;
  color: white;
}

.login{
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  color: black;
  margin: auto 1rem;
  background-color: brown;
  padding: 1rem 2rem;
  border-radius: 12px;
  transition: all 0.3s ease-in;
}

.login:hover{
  color: white;
  background-color: rgb(129, 33, 33);
}

main{
  grid-area: main;
  padding: 3rem;
}


footer{
  grid-area: footer;
  background-color: var(--primary-500-color);
  padding: 2rem;
  grid-area: footer;
  height: 200px;
}

